<h1 class="text-center mb-4">Dashboard</h1>
<p class="lead mb-3 text-center">Welcome <%= name %> to your Dashboard </p>
<p class="lead mb-3 text-center">Do you want to logout!! <a href="/users/logout" class="btn btn-secondary">Logout</a></p>